<!DOCTYPE html>
<html lang="en"><!-- ng-app="myApp" ng-controller="basicsCtrl"-->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index page</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/script.js"></script>
  </head>
  <body>
    <h1>19BIT0346 Question 2</h1><br><br>
    <div class="container">
        <div class="container">
            <div class="panel panel-default">
                <table id="tblScoreboard" class="table"><!-- st-table="rowCollection"-->
                    <thead>
                        <tr>
                            <th>\</th>
                            <th>Team A</th>
                            <th>Team B</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Team Name</td>
                            <td>Team A</td>
                            <td>Team B</td>
                        </tr>
                        <tr>
                            <td>Team Score</td>
                            <td>
                                <p id="scoreA"></p>
                            </td>
                            <td>
                                <p id="scoreB"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>1 Point</td>
                            <td>
                                <button value="1" name="1_pointerA" id="1_pointerA" onclick="scoreKeeper.emit('connection');">1 Point</button>
                            </td>
                            <td>
                                <button>1 Point</button>
                            </td>
                        </tr>
                        <tr>
                            <td>2 Points</td>
                            <td>
                                <button>2 Pointer</button>
                            </td>
                            <td>
                                <button>2 Pointer</button>
                            </td>
                        </tr>
                        <tr>
                            <td>3 Points</td>
                            <td>
                                <button>3 Pointer</button>
                            </td>
                            <td>
                                <button>3 Pointer</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</body>
</html>