<html>
	<head>
		<title>Session Management in NodeJS using Node and Express</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
		<script>
			$(document).ready(function(){
				var email,pass;
				$("#submit").click(function(){
					email=$("#email").val();
					pass=$("#pass").val();
					console.log(email);
					console.log(pass);
					/*
					* Perform some validation here.
					*/
					$.post("/login",{email:email,pass:pass},function(data){
						if(data==='done') {
							window.location.href="/admin";
						}
					});
				});
			});
		</script>
	</head>
	<body>
		<form method="post">
			Username: <input type="text" size="40" placeholder="Type your email" id="email"><br />
			Password: <input type="text" size="40" placeholder="Type your password" id="pass"><br />
			Remember me Next time <input type="checkbox" id="checkbox"><br />
			<input type="button" value="Submit" id="submit">
		</form>
	</body>
</html>
