body{
    background-image: url('tree.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: grayscale(100%);
}
h1{
    size: 2;
}
#big {
    border: 2px solid black;
    padding: 12px 20px;
    background-color: #f8f8f8;
    resize: none;
}

#small {
    border-top: 2px dotted rgb(255, 0, 0);
    border-left: 2px solid rgb(255, 0, 0);
    border-right: 2px solid rgb(255, 0, 0);
    border-bottom: 2px dashed rgb(255, 0, 0);
    padding: 12px 20px;
    background-color: #f8f8f8;
    resize: none;
}